- if current_user.present?
  %li.nav-item
    = link_to 'Audit' , root_path, class: "nav-link"
-# - elsif current_user.present? && current_user.mentor?
-#   %li.nav-item.dropdown
-#     = link_to 'Dashboard' , mentor_root_path, class: "nav-link"
-#   %li.nav-item
-#     = link_to 'Time Tracker', mentor_time_trackings_path, class: "nav-link"
-# - elsif current_user.present? && current_user.client?
-#   %li.nav-item.dropdown
-#     = link_to 'Dashboard' , member_root_path, class: "nav-link"
-#   %li.nav-item
-#     = link_to 'Invite Members' , new_member_client_path, class: "nav-link"
